:root{
	--main-text: #ffffff;
	--background: #444444;
	--background-dark: #333333;
	--accent: #35d07a;
	--accent-dark: #1b7441;
	--invalid-response: #F5B2B2;
}
a:link, a:visited {
	color: var(--accent);
	text-decoration: none;
}
a:hover, a:active{
	background-color: var(--accent-dark);
	color: var(--main-text);
}
h1{
	color: var(--accent);
}
img, video{
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 95vw;
}
body{
	background-color: var(--background);
	color: var(--main-text);
	font-family: arial, calibri, sans-serif;
	font-size: 1.1em;
	padding: 0px;
	Margin: 0px;
}
figcaption{
	text-align: center;
}
footer{
	text-align: center;
}
form{
	display: grid;
	gap: 0.5em;
	margin-left: auto;
	margin-right: auto;
	max-width: 60em;
	background-color: var(--background-dark);
	grid-template-columns: 1em auto auto;
	padding: 1em;
}
form p{
	grid-column:1/4;
}
form span{
	grid-column:1/3;
}
header{
	background-color: var(--accent-dark);
	text-align: center;
}
header h1{
	color: #ffffff;
}
main{
}
nav{
	box-sizing: border-box;
	margin: 0px;
	background-color: var(--accent-dark);
	padding: 0px;
	font-size: 1.3em;
	font-weight: bold;
}
nav ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}
nav li{
	margin: 0;
	padding: 0;
}
nav a{
	text-decoration: none;
	width: 100%;
	display: inline-block;
}
nav a:link, nav a:visited{
	color: var(--main-text);
}
nav a:hover, nav a:active{
	color: var(--accent-dark);
	background-color: var(--main-text);
}
table{
	margin: 1em;
	border: 0.5em solid var(--accent-dark);
	border-spacing: 0px;
}
textArea{
	grid-column: 1/4
}
thead{
	background-color: var(--accent-dark);
	height: 150%;
}
tr{
	border: none;
	margin: 0px;
}
td{
	border: 0px;
	margin: 0px;
}
th{
	font-size: 150%;
}
tr:nth-of-type(even){
	background-color: var(--accent-dark);
}
ul.articles{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.attribution{
	font-size: 60%;
	text-align: center;
}
a.button{
	color: var(--main-text)
}
.button{
	background-color: var(--accent);
	border: none;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.button:hover{
	color: var(--accent-dark);
	background-color: var(--main-text);
}
.hero{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;	
}
.panelSet{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 1.5em;
}
.panelset .panel{
}
a.panel{
	box-sizing: border-box;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	color: var(--main-text);
	border-color: var(--accent-dark);
	border-width: .1em;
	color: var(--main-text);
	background-color: var(--accent-dark);
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	display: block;
}
li .panel{
/* 	max-width: 90%; */
}
.panel img{
}
.panel:hover{
	color: var(--accent-dark);
	background-color: var(--main-text);
	border-color: var(--main-text)
}
.product{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}
.product p{
	grid-area: gridBody;
}
.product img{
	grid-area: picture;
}
.product h2{
	grid-area: gridHead;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product h3{
	grid-area: price;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product span{
	grid-area: button;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper{
	margin-left: auto;
	margin-right: auto;
	max-width: 75em;
}
@media(max-width: 900px){
	body{
		font-size: 80%;
	}
	.wrapper{
		margin: 0;
		width: 100%;
	}
}
@media(min-width: 900px){
	@supports(display: grid){
	body{
		display: grid;
		grid-template-areas: "header header" "nav main" "footer footer";
		grid-template-columns: 10em 1fr;
	}
	nav{
		grid-area: nav;
		background-color: var(--background-dark);
	}
	header{
		grid-area: header;
	}
	.wrapper{
		grid-area: main;
	}
	footer{
		grid-area: footer;
	}
	.panelSet{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.panel:nth-of-type(1){
		grid-area: 1 / 1 / span 1 / span 3;
	}
	}
}
@media(min-width: 1200px){
	.product{
		background-color: var(--accent-dark);
		color: var(--main-text);
		padding: 5px;
		display: grid;
		gap: 0.5em;
		grid-template-rows: 1fr 3fr 0.5fr;
		grid-template-columns: 1fr 20em 1fr;
		grid-template-areas: "gridHead gridHead gridHead"
		"picture gridBody gridBody"
		"price button empty";
	}
}
